<div class="header_bar">
		<h1 class="header_bar_ttl">Hello, World!</h1>
		<button class="header_bar_nav_btn">Menu</button>
</div>
<script type="text/javascript">
	
	$(".header_bar_nav_btn").click(function(){
		alert("hello")
	})
</script>